[Unit]
Description=i3lock: An improved screenlocker based upon XCB and PAM

[Service]
Type=forking
ExecStart=/usr/bin/i3lock-blur
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
