[Unit]
Description=wallpaperd

[Service]
Type=forking
ExecStart=/usr/bin/wallpaperd
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=graphical.target
