[user]
	email = Torben.Andersen@qiagen.com
	name = Torben Muldvang Andersen - QIAGEN
[push]
	default = simple
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	useJGitBuiltin = true
[merge "keepTheir"]
	name = always keep their during merge
	driver = cp -f %B %A
[rerere]
	enabled = true
[merge "keepOur"]
	name = always keep ours during merge
	driver = cp -f %A %B
