!===============================================================================
! urxvt
!===============================================================================

! Extensions
URxvt.perl-ext-common: default,selection,matcher,font-size

! Handle urls
URxvt.url-select.underline: true
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Number of lines to save
URxvt*saveLines: 65535

! Disable scroll bar
URxvt*scrollBar: false

! Font
URxvt*font: xft:DejavuSansMono:pixelsize=12

! Icon
URxvt.iconFile: /usr/share/icons/gnome/32x32/apps/terminal.png

! Hide mouse pointer when typing
URxvt*pointerBlank: true

! Visual bell
URxvt*visualBell: true
URxvt*urgentOnBell: true

! Text zooming
URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease

! Disable keycap picture insert mode
URxvt.iso14755: false
URxvt.iso14755_52: false

!===============================================================================
! Colors
!===============================================================================

*foreground: #FFFFFF
*background: #262626

! Black
*color0: #000000
*color8: #666666
! Red
*color1: #ff0087
*color9: #ff5faf
! Green
*color2: #5fd700
*color10: #87ff00
! Yellow
*color3: #d7d700
*color11: #d7ff5f
! Blue
*color4: #005fff
*color12: #00afff
! Purple
*color5: #af00d7
*color13: #d75fd7
! Cyan
*color6: #00d7ff
*color14: #5fffff
! White
*color7: #DDDDDD
*color15: #FFFFFF


!===============================================================================
! Font
!===============================================================================

! Better looking font for applications that ignore fontconfig. 
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
