/*
!/.*

.bash_history
.cmus
.config/vlc/vlc-qt-interface.conf
.python-eggs/
.w3m/
.FontForge
.MakeMKV
.Skype
.Xauthority
.Xdefaults
.adobe
.alsaplayer
.aspell*
.cache
.config/autostart
.config/coq
.config/pulse
.config/Pinta
.config/Skype
.config/Thunar
.config/Trolltech
.config/chromium
.config/dconf
.config/deluge
.config/easytag
.config/gconf
.config/ghb
.config/gtk-2.0
.config/libreoffice
.config/mirage
.config/mono.addins
.config/ranger/__pycache__
.config/ranger/bookmarks
.config/ranger/commands.py
.config/ranger/history
.config/ranger/rifle.conf
.config/ranger/scope.sh
.config/ranger/tagged
.config/spotify
.config/xfce4
.danid.log
.dbus
.dropbox-dist
.dropbox
.dvdcss
.emacs.d/%backup%~
.emacs.d/auto-save-list
.emacs.d/auto-saves/
.emacs.d/backups
.emacs.d/elpa/archives
.emacs.d/url
.emacs.d/ac-comphist.dat
.gervill
.gimp*
.gksu.lock
.gnupg
.gstreamer*
.histfile
.icedtea
.icons
.ido.last
.java
.lesshst
.local
.lyrics
.macromedia
.mozilla
.mpd/database
.mpd/log
.mpd/pid
.mpd/playlists
.mpd/state
.ncmpcpp/artists
.ncmpcpp/error.log
.netrc
.oces2
.pki
.recently-used
.smex-items
.ssh/*
!.ssh/config
.thumbnails
.Trolltech
.xbmc
.zcompdump
.wine
.cabal
.ghc
.calc_history
.nv
.nvidia-settings-rc
.plexht
.pylint.d
.subversion
.tvtime
.config/menus
.emacs.d/tramp
.emacs.d/recentf
.vxMaxima
.pip
.monicarc
.cups/
.eclipse/
.emacs.d/eshell/
.fbmessenger/
.gconf/
.gnuplot-wxt
.gnuplot_history
.gtk-bookmarks
.gtklp/
.gtkrc-2.0.bak
.hplip/
.jfbchat/
.lldb-history
.lprof/
.lvm_history
.p7zip
.pulse-cookie
.rstudio-desktop/
.slocdata/
.source-highlight/
.texlive/
.wxMaxima
.Rhistory
.VirtualBox/
.archey3.cfg
.audacity-data/
.bzr.log
.config/RStudio/
.config/TikzEdtWForms/
.config/evince/
.config/google-googletalkplugin/
.config/gtk-3.0/bookmarks
.config/guvcview/
.config/xfe/
